@charset "UTF-8";

/* CSS Document */

a.home {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-ui-purple);
  background: var(--alpha-bg-black);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease;
  transform-origin: 0 0;
  scale: 1;
  translate: 4px 16px;

  &.onmoving {
    opacity: 0;
  }

  &::before {
    font-size: 32px;
  }

  @media (hover: hover) {
    @media (hover: hover) {
      transition: scale 0.1s ease;

      &:hover {
        scale: 1.1;
      }

      &:active {
        opacity: 0.8;
        scale: 1;
      }
    }
  }
}

#members-list-wrapper {
  width: fit-content;
  padding: 64px;
}

.class-wrapper {
  position: relative;
  width: fit-content;
  margin-top: 128px;
  font-size: 24px;
  font-weight: 600;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 100%;
    padding: 0 12px;
    color: #fff;
    text-align: center;
    content: attr(data-class);
    background: var(--color-ui-purple);
  }
}

.group-wrapper {
  position: relative;
  z-index: 0;
  width: fit-content;
  margin-left: 48px;

  &::before {
    position: absolute;
    top: 16px;
    z-index: -1;
    width: calc(100% - 32px);
    height: 1px;
    margin-inline: 16px;
    content: "";
    background-color: var(--color-text-gray);
  }

  &:last-child {
    padding-bottom: 32px;
  }

  + .group-wrapper {
    margin-top: 96px;
  }
}

.group-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 0 4px;
  margin-inline: auto;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  background: var(--color-bg-black);

  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.group-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: 4px;
  font-size: 14px;

  &::before {
    font-size: 18px;
    line-height: 18px;
    color: var(--color-ui-purple);
  }
}

.members-wrapper {
  position: relative;
  display: flex;
  gap: 32px;
  width: fit-content;
  padding: 0 16px;
  margin-top: 48px;
}

.class-outer {
  position: absolute;
  top: -64px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: calc(100% + 104px);
  padding: 0 16px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: var(--color-ui-purple);
}

.member-outer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.member-img {
  position: relative;
  width: 160px;
  height: 160px;
  border: 4px solid;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    position: absolute;
    bottom: -1px;
    left: -1px;
    max-width: 120px;
    height: 20px;
    padding: 0 8px;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 8px;
  }

  .member-join {
    position: absolute;
    top: -27px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 8px);
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
  }
}

.member-title {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 44px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  word-break: auto-phrase;

  &:has(span) {
    padding-bottom: 20px;
  }

  span {
    font-size: 16px;
    line-height: 24px;
  }
}

.position {
  width: fit-content;
  margin-inline: auto;
  margin-top: -20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.member-detail {
  position: relative;
  width: 200px;
  height: 144px;
  padding: 8px 16px 24px;
  margin-inline: auto;
  margin-top: 4px;
  border: 1px solid var(--color-text-gray);
  border-radius: 8px;
}

.member-birthday {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;

  &::before {
    font-size: 18px;
  }
}

.member-copy {
  margin-top: 12px;
  font-family: "Zen Old Mincho", serif;
  font-size: 12px;
  font-style: oblique;
  text-align: justify;
  letter-spacing: 0;
}

.group-links,
.member-sns {
  display: flex;
  gap: 12px;
  align-items: center;

  li {
    width: 24px;
    height: 24px;
    filter: invert(83%) sepia(8%) saturate(128%) hue-rotate(22deg) brightness(90%) contrast(85%);

    @media (hover: hover) {
      &:hover {
        filter: invert(59%) sepia(95%) saturate(3109%) hue-rotate(236deg) brightness(96%) contrast(85%);
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        display: block;
      }
    }
  }
}

.group-links {
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: 16px;
}

.search-form {
  padding: 128px 32px 0;
}

form {
  width: fit-content;
  padding: 16px 32px;
  border: 1px solid var(--color-text-darkGray);
  border-radius: 16px;

  button {
    position: relative;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;
    margin-top: 16px;
    margin-left: auto;
    text-align: center;
    border: 2px solid var(--color-ui-purple);

    @media (hover: hover) {
      &:hover {
        color: #fff;
        background: var(--color-ui-purple);
      }
    }
  }

  select,
  input[type="text"] {
    width: 240px;
    height: 36px;
    padding: 0 16px;
    border: 2px solid var(--color-ui-purple);
    border-radius: 100vmax;
  }

  label:has(select),
  label:has(input[type="text"]) {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin-top: 16px;
  }
}

.member-sns {
  position: absolute;
  right: 4px;
  bottom: 4px;
  justify-content: flex-end;
}

.search-class,
.search-color {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.search-birthmonth {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 16px;

  label,
  label:has(.toggle) {
    margin-top: 0;
  }
}

.search-result {
  flex-wrap: wrap;
  row-gap: 64px;

  .member-outer {
    opacity: 0;
    animation: slideUp 0.5s ease;

    &.active {
      opacity: 1;
    }

    @for $i from 0 through 55 {
      &:nth-of-type(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }

    @keyframes slideUp {
      0% {
        opacity: 0;
        translate: 0 48px;
      }

      100% {
        opacity: 1;
        translate: 0 0;
      }
    }
  }
}
