@charset "UTF-8";

/* CSS Document */

:root {
  /* COLORS */
  --color-bg-black: #2a262b;
  --color-bg-gray: #4f4b50;
  --color-text-gray: #b8b8b2;
  --color-text-darkGray: #8b8b86;
  --color-ui-purple: #ba6de3;
  --color-light-purple: #d19bee;
  --color-alert-red: #e36d6d;
  --color-correct-blue: #4ca9d4;
  --color-wrong-red: #d35555;

  /* ALPHA */
  --alpha-bg-black: #2a262b88;
  --alpha-bg-black-dd: #2a262bdd;
  --alpha-text-gray: #b8b8b288;
  --alpha-text-gray-44: #b8b8b244;

  /* GRADATION */

  /* GrayScale */
}

/* --------v-DEFAULT-v-------- */
ul,
ol {
  list-style-type: none;
}

p,
li {
  text-align: justify;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

body {
  overflow-y: scroll;
  font-family: "Helvetica Neue", Arial, "Noto Sans", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-gray);
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: var(--color-bg-black);
  line-break: strict;
}

.icon {
  &::before {
    font-family: "Material Symbols Outlined", mono-space;
    font-size: 24px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  &.home::before {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    content: "\e88a";
  }

  &.map-pin::before {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    content: "\e0c8";
  }

  &.help::before {
    content: "\e887";
  }

  &.check::before {
    content: "\e5ca";
  }

  &.close::before {
    content: "\e5cd";
  }

  &.bad::before {
    content: "\e7f3";
  }

  &.marked::before {
    content: "\e000";
  }

  &.cake::before {
    content: "\e7e9";
  }

  &.penlight::before {
    content: "\e6d2";
  }

  &.group::before {
    content: "\f233";
  }

  &.ten::before {
    content: "\e423";
  }

  &.undo::before {
    content: "\e166";
  }

  &.next::before {
    content: "\e5cc";
  }

  &.arrowright::before {
    content: "\e941";
  }

  &.profile::before {
    content: "\e851";
  }

  &.profile-card::before {
    content: "\f4ca";
  }

  &.photo::before {
    content: "\e3f4";
  }

  &.chat::before {
    content: "\e0b7";
  }

  &.resume::before {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    content: "\f7d0";
  }
}

input[type="radio"],
.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  pointer-events: none;
  border: 0;
}

label.radio,
label:has(input[type="radio"]) {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;

  &::before {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid var(--color-ui-purple);
    border-radius: 100%;
  }
}

label:has(input[type="radio"]:checked) {
  color: var(--color-ui-purple);

  &::after {
    position: absolute;
    left: 4px;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    content: "";
    background: var(--color-ui-purple);
    border-radius: 100%;
  }
}

label:has(input[type="checkbox"]) {
  cursor: pointer;
}

label:has(input.toggle) {
  display: inline-block;
  margin-top: 32px;
  margin-right: 72px;
}

input.toggle {
  position: relative;
  margin-left: 16px;
  appearance: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 72px;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    content: "";
    background: var(--color-text-gray);
    border-radius: 9999px;
  }

  &:focus::before {
    box-shadow: var(--material-basic), var(--material-focus-color);
  }

  &::after {
    position: absolute;
    top: -18px;
    left: 2px;
    display: block;
    width: 28px;
    height: 28px;
    content: "";
    background: var(--color-ui-purple);
    border-radius: 100%;
    transition: all 0.1s ease;
  }

  &:checked::before {
    content: "ON";
    background: var(--color-light-purple);
  }

  &:checked::after {
    left: 40px;
  }
}

*[role="button"],
button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

.invisible {
  display: none;
}

.tap-click {
  &::before {
    content: "タップ";

    @media (hover: hover) {
      content: "クリック";
    }
  }
}

.at {
  &::before {
    content: "@";
  }
}

/* --------^-DEFAULT-^-------- */

/* --------v-HEADER-v-------- */

header {
  position: relative;
}

#header-display {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 56px;

  #display-icons {
    display: flex;
    gap: 4px;
    width: 56px;
  }

  #display-judge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin: 14px 32px 14px -16px;
  }

  #display-counter {
    font-size: 28px;
    font-weight: 600;
    vertical-align: baseline;

    span {
      margin-top: 8px;
      margin-left: 4px;
      font-size: 20px;
    }
  }
}

#help {
  position: absolute;
  top: 6px;
  right: 56px;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  margin-left: auto;
  color: var(--color-ui-purple);
  text-align: center;

  &::before {
    font-size: 32px;
  }

  @media (hover: hover) {
    &:hover {
      animation: microRotation 0.5s ease;

      @keyframes microRotation {
        0% {
          rotate: 0deg;
          scale: 1;
        }

        75% {
          rotate: 15deg;
          scale: 1.2;
        }

        100% {
          rotate: 0deg;
          scale: 1;
        }
      }
    }

    &:active {
      opacity: 0.8;
      scale: 0.9;
    }
  }
}

.hamburger {
  position: fixed;
  top: 6px;
  right: 8px;
  left: 0;
  z-index: 101;
  display: block;
  width: 48px;
  height: 48px;
  margin-left: auto;
  background: var(--alpha-bg-black);
  border-radius: 4px;

  &.disabled {
    position: absolute;
  }

  hr {
    position: absolute;
    left: calc(50% - 14px);
    display: block;
    width: 28px;
    height: 4px;
    background: var(--color-ui-purple);
    border: none;
    border-radius: 9999px;
    transition: all 0.3s ease;

    &:nth-of-type(1) {
      top: calc(50% - 11px);
    }

    &:nth-of-type(2) {
      top: calc(50% - 2px);
    }

    &:nth-of-type(3) {
      top: calc(50% + 7px);
    }
  }

  &:has(+ input:checked) {
    transition: opacity 0.3s ease;

    hr {
      left: calc(50% - 12px * 1.414);

      &:nth-of-type(1) {
        top: calc(50% - 2px);
        width: calc(24px * 1.414);
        rotate: 45deg;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: calc(50% - 2px);
        width: calc(24px * 1.414);
        rotate: -45deg;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      hr {
        &:nth-of-type(1) {
          animation: flip1 0.3s ease;

          @keyframes flip1 {
            0% {
              top: calc(50% + 7px);
            }

            100% {
              top: calc(50% - 11px);
            }
          }
        }

        &:nth-of-type(3) {
          animation: flip3 0.3s ease;

          @keyframes flip3 {
            0% {
              top: calc(50% - 11px);
            }

            100% {
              top: calc(50% + 7px);
            }
          }
        }
      }
    }

    &:has(+ input:checked) {
      &:hover {
        opacity: 0.8;

        hr {
          &:nth-of-type(1) {
            animation: none;
          }

          &:nth-of-type(3) {
            animation: none;
          }
        }
      }
    }
  }
}

#setting-outer,
header {
  button.home {
    position: fixed;
    top: 6px;
    left: 8px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: var(--alpha-bg-black);
    border-radius: 4px;

    &::before {
      font-size: 32px;
      color: var(--color-ui-purple);
    }

    &.disabled {
      position: absolute;
    }

    @media (hover: hover) {
      transition: scale 0.1s ease;

      &:hover {
        scale: 1.1;
      }

      &:active {
        opacity: 0.8;
        scale: 1;
      }
    }
  }

  nav {
    /* IE(Internet Explorer)・Microsoft Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    /* Google Chrome、Safari */
    &::-webkit-scrollbar {
      display: none;
    }

    > ul {
      max-width: 480px;
      margin-inline: auto;

      > li {
        + li {
          margin-top: 32px;
        }

        > h2 {
          font-size: 14px;
          font-weight: 600;

          + div {
            margin-top: 8px;
          }
        }

        > p {
          padding: 0 8px;
          margin-top: 8px;
          font-size: 12px;
          border: 1px solid var(--color-text-black);
          border-radius: 4px;

          &.notice {
            padding-left: 16px;
            line-height: 16px;
            color: var(--color-text-darkGray);
            text-indent: -8px;

            + .notice {
              margin-top: 8px;
            }
          }
        }

        > ul {
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;
          margin-top: 16px;

          li > button,
          li > a.button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 48px;
            margin-top: 0;
            color: var(--color-ui-purple);
            border: 2px solid var(--color-ui-purple);
            border-radius: 9999px;
            transition: background-color 0.1s linear, color 0.1s linear;

            &::before {
              margin-right: 4px;
            }

            @media (hover: hover) {
              &:hover {
                color: var(--color-text-gray);
                background: var(--color-ui-purple);
              }

              &:active {
                opacity: 0.8;
                translate: 0 1px;
              }
            }
          }
        }
      }
    }
  }
}

header {
  position: relative;
  min-height: 56px;

  nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 0;
    padding: 0;
    padding-top: 80px;
    overflow: hidden;
    background: var(--color-bg-gray);
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
  }

  #header-nav-contoroller:checked + nav {
    width: 100%;
    height: 100vh;
    padding: 80px 16px 32px;
    overflow-y: scroll;
    opacity: 1;
  }
}

header:has(#header-nav-contoroller:checked) + main {
  height: 80vh;
  overflow: hidden;
}

.setting-radios,
#setting-radios {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  label {
    span.icon {
      display: flex;
      align-items: center;
      margin-right: 4px;
      margin-left: 8px;
      transition: opacity 0.1s linear;

      &::before {
        font-size: 20px;
      }
    }

    @media (hover: hover) {
      &:hover span {
        opacity: 0.8;
      }
    }
  }
}

.js-accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;

  p {
    font-size: 12px;
  }

  &::after {
    display: inline-block;
    height: 32px;
    font-family: "Material Symbols Outlined", monospace;
    font-size: 32px;
    line-height: 32px;
    content: "\e316";
    transition: rotate 0.1s ease;
    rotate: -180deg;
  }

  &:has(+ .open) {
    &::after {
      rotate: 0deg;
    }
  }

  @media (hover: hover) {
    transition: background-color 0.1s ease;

    &:hover {
      background: var(--alpha-text-gray-44);
    }
  }
}

.setting-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;

  li {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: var(--alpha-text-gray-44);
    border: 1px solid var(--color-text-gray);
    border-radius: 100%;

    &.disabled {
      opacity: 0.2;
    }
  }
}

.setting-checkboxes,
#setting-checkboxes {
  padding: 16px;
  overflow: hidden;
  transition: height 0.2s ease, padding 0.2s ease;

  &.close {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--color-text-gray);
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;

    label:has(input[type="checkbox"]) {
      position: relative;
      flex-shrink: 0;
      font-weight: 400;

      &::before {
        width: 18px;
        height: 18px;
      }

      &::after {
        top: -4px;
        left: -1px;
        font-size: 20px;
      }
    }

    &::after {
      display: inline-block;
      flex-shrink: 1;
      width: 100%;
      height: 1px;
      margin-left: 8px;
      content: "";
      background: var(--color-text-gray);
    }
  }

  .group-class {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 32px;
    margin-top: 12px;
  }
}

label {
  font-weight: 600;

  &:has(input[type="checkbox"]:not(.toggle)) {
    position: relative;
    letter-spacing: 0.1em;

    &::before {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      content: "";
      border: 2px solid var(--color-ui-purple);
      border-radius: 2px;
      transform: translateY(2px);
    }

    &::after {
      position: absolute;
      left: 0;
      font-family: "Material Symbols outlined", mono-space;
      color: #fff;
      content: "\e5ca";
      opacity: 0;
      transition: opacity 0.1s ease, rotate 0.1s ease;
      rotate: 0deg;
    }

    @media (hover: hover) {
      transition: opacity 0.1s ease;

      &:hover {
        opacity: 0.8;

        &::before {
          scale: 1.1;
        }

        &::after {
          opacity: 0.5;
          rotate: 10deg;
          scale: 1.1;
        }
      }
    }
  }

  &:has(input[type="checkbox"]:checked) {
    &::before {
      background: var(--color-ui-purple);
    }

    &::after {
      opacity: 1;
    }
  }
}

/* --------^-HEADER-^-------- */

/* --------v-MAIN-v-------- */

main {
  position: relative;
  width: 100%;
}

#setting-outer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 16px 32px 64px;
  background: var(--color-bg-black);

  @media screen and (width >= 480px) {
    width: 480px;
    margin-inline: auto;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  nav {
    margin-top: 32px;
  }

  &.close {
    display: none;
  }
}

main {
  position: relative;
}

.js-img-loading,
#loading {
  &::after {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    display: block;
    width: 64px;
    height: 64px;
    content: "";
    background: conic-gradient(transparent 0%, var(--color-ui-purple) 100%);
    border-radius: 100%;
    mask: radial-gradient(circle at center, transparent 26px, black 26px);
  }
}

#loading {
  position: absolute;
  inset: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--color-bg-black);
  }

  &.nowloading {
    display: block;
    pointer-events: all;
    opacity: 1;
    animation: loading 2s linear;

    &::after {
      animation: rotating 1s linear infinite;
    }

    @keyframes loading {
      0% {
        opacity: 1;
      }

      80% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

main {
  position: relative;
}

.main-outer {
  position: relative;
  width: 100%;
  min-height: calc(100dvh - 56px);
  padding: 0 16px;

  @media screen and (width >= 480px) {
    width: 480px;
    margin-inline: auto;
  }
}

#js-prevQuestion-wrapper,
#result-wrapper,
#question-wrapper,
#answer-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-inline: auto;
  margin-top: 16px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

#answer-wrapper {
  &:is(.js-keyboard-active #answer-wrapper) {
    //height: 100px;
    //overflow: hidden;
  }
}

#result-answer-image,
#answer-image,
#question-image {
  position: relative;
  z-index: 0;
  width: 280px;
  height: 280px;
  margin-inline: auto;
  margin-top: 0;
  background: #888;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--alpha-bg-black-dd);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &.js-img-loading {
    &::before {
      opacity: 1;
    }

    &::after {
      z-index: 2;
      animation: rotating 1s linear infinite;
    }
  }

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
  }

  #question-status,
  #result-answer-status,
  #answer-status {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 9999px;
    }
  }

  #result-answer-group,
  #answer-group {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-gray);
    background: #000;
    border-top-right-radius: 12px;
  }
}

#answer-judge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.correct {
    opacity: 0;
    animation: fadeout 1s linear;

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      border: 24px solid var(--color-correct-blue);
      border-radius: 100%;
    }
  }

  &.wrong {
    opacity: 0;
    animation: fadeout 1s linear;

    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 12px);
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      content: "";
      background: var(--color-wrong-red);
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 0.5;
    }

    10% {
      opacity: 0.8;
    }

    70% {
      opacity: 0.8;
    }

    100% {
      opacity: 0;
    }
  }
}

#question-text {
  position: absolute;
  inset: -2px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: var(--color-bg-black);
  border: 2px solid var(--color-text-gray);
  opacity: 0;

  &.active {
    opacity: 1;
  }

  p {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &.copy {
    border: none;

    p {
      max-width: 100%;
      font-family: "Zen Old Mincho", serif;
      font-size: 24px;
      font-style: oblique;
      color: var(--color-ui-purple);
      text-align: center;
      word-break: auto-phrase;
    }
  }
}

#question-title,
#result-answer-title,
#answer-title {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  word-break: auto-phrase;

  span {
    margin-top: 0;
    font-size: 16px;
  }
}

#result-answer-detail,
#answer-detail {
  position: relative;
  width: 320px;
  padding: 8px 16px;
  margin-inline: auto;
  margin-top: 16px;
  border: 1px solid var(--color-text-gray);
  border-radius: 8px;
}

#result-position,
#position {
  width: fit-content;
  margin-inline: auto;
  font-size: 14px;
}

#color_and_birthday,
#result-color_and_birthday {
  display: flex;
  gap: 32px;
}

#result-color,
#result-birthday,
#color,
#birthday {
  display: flex;
  gap: 4px;
  align-items: center;

  &::before {
    color: var(--color-text-black);
  }
}

#result-birthday,
#birthday {
  font-size: 20px;
}

#result-color,
#color {
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 9999px;
  }
}

#result-color {
  span {
    font-size: 12px;
  }
}

#result-copy,
#copy {
  margin-top: 12px;
  font-family: "Zen Old Mincho", serif;
  font-size: 14px;
  font-style: oblique;
  word-break: auto-phrase;
}

#result-sns,
#sns {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;

  li {
    width: 24px;
    height: 24px;
    filter: invert(83%) sepia(8%) saturate(128%) hue-rotate(22deg)
      brightness(90%) contrast(85%);
  }
}

#answer-control {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  li {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 100%;

      &::before {
        font-size: 36px;
      }

      @media (hover: hover) {
        &:hover {
          animation: scaleBounce 0.2s ease;

          @keyframes scaleBounce {
            0% {
              scale: 1;
            }

            65% {
              scale: 1.1;
            }

            100% {
              scale: 1;
            }
          }
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}

#question-control {
  position: fixed;
  right: 0;
  bottom: 32px;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 32px;
  pointer-events: none;

  .mode-memory,
  .mode-select,
  .mode-input {
    display: none;
  }

  &[data-mode="memory"],
  &[data-mode="select"][data-phase="answer"],
  &[data-mode="input"][data-phase="answer"] {
    .mode-memory {
      display: flex;
    }
  }

  &[data-mode="select"][data-phase="question"] {
    .mode-select {
      display: flex;
    }
  }

  &[data-mode="input"][data-phase="question"] {
    .mode-input {
      display: flex;
    }
  }

  .mode-memory {
    justify-content: space-between;

    button {
      width: 48px;
      height: 48px;
      pointer-events: all;

      &::before {
        font-size: 48px;
        background: var(--alpha-bg-black-dd);
        border-radius: 4px;
      }

      @media (hover: hover) {
        &:hover::before {
          color: var(--color-ui-purple);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  .mode-select {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: space-around;
      width: 100%;
      max-width: 560px;
      margin-inline: auto;

      li {
        width: calc(50% - 4px);
        height: 56px;
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text-gray);
        background: var(--alpha-text-gray);
        border-radius: 4px;

        @media (hover: hover) {
          transition: background-color 0.1s ease;

          &:hover {
            background: var(--color-ui-purple);
          }

          &:active {
            scale: 0.97;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 0 16px;
          line-height: 16px;
          pointer-events: all;
        }
      }
    }
  }

  .mode-input {
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    pointer-events: all;

    input[type="text"] {
      width: 280px;
      height: 48px;
      padding: 0 16px;
      font-size: 16px;
      font-weight: 400;
      background: var(--alpha-bg-black);
      border: 2px solid var(--color-text-gray);
      border-radius: 9999px;

      &:focus {
        border-color: var(--color-ui-purple);
      }
    }

    button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      color: white;
      background: var(--color-ui-purple);
      border: 2px solid var(--color-ui-purple);
      border-radius: 100%;

      &:is(input:placeholder-shown + button) {
        color: var(--color-text-gray);
        background: var(--alpha-bg-black);
        border: 2px solid var(--color-text-gray);
      }
    }
  }
}

#setting-outer.close ~ #main-outer #question-control {
  display: block;
}

.nowloading + .main-outer {
  #question-control,
  #answer-control {
    display: none;
  }
}

.badge.marked,
#question-status .marked,
#answer-status .marked,
#answer-marked {
  color: #fff;
  background: #eb6a6a;
}

.badge.check,
#question-status .check,
#answer-status .check,
#answer-check {
  color: #fff;
  background: #76ed66;
}

#answer-marked.js-removing,
#answer-check.js-removing {
  background: #888;
}

#result-wrapper {
  z-index: 1;
  padding: 0 32px 24px;
  background: var(--color-bg-black);

  p.note {
    font-size: 12px;
  }
}

#result-score {
  font-size: 14px;
  color: var(--color-ui-purple);
  text-align: center;

  > div {
    display: inline;
    font-size: 20px;

    > span:first-child {
      margin-right: 4px;
      font-size: 24px;
    }
  }
}

#result-questions {
  width: 100%;
  max-height: 480px;
  margin-top: 16px;
  overflow-y: scroll;

  tr {
    height: 48px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid var(--alpha-text-gray);
    transition: background-color 0.1s ease;

    @media (hover: hover) {
      transition: opacity 0.1s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    &.js-resultQuestion-active {
      background: var(--alpha-text-gray);

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  td {
    padding: 0 4px;
    vertical-align: middle;

    &:first-child {
      padding-left: 16px;
      text-indent: -8px;
    }

    &.result-judge {
      position: relative;
      display: block;
      width: 24px;
      height: 48px;
      padding: 12px 0;
      margin-right: 12px;
    }
  }
}

a.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 16px;
  border-radius: 9999px;
}

#result-share {
  position: relative;
  width: 240px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #000;

  &::after {
    position: absolute;
    inset: 0;
    display: block;
    margin: 2px;
    content: "";
    border: 2px solid var(--alpha-text-gray-44);
    border-radius: 9999px;
  }

  img {
    width: 16px;
    height: 16px;
    filter: invert(100%);
  }
}

#result-closer {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-inline: auto;
  margin-top: 16px;
  animation: flick 2s ease infinite;

  @keyframes flick {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-ui-purple);
      animation: none;
    }
  }
}

#display-judge,
.result-judge {
  &.correct {
    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      border: 4px solid var(--color-correct-blue);
      border-radius: 100%;
    }
  }

  &.wrong {
    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 2px);
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      content: "";
      background: var(--color-wrong-red);
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

#result-answer-outer {
  position: absolute;
  top: 0;
  right: 8px;
  left: 8px;
  padding: 16px;
  margin-inline: auto;
  pointer-events: all;
  background: var(--alpha-bg-black-dd);
  border: 1px solid var(--color-text-gray);
  border-radius: 16px;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.closed {
    pointer-events: none;
    opacity: 0;
  }

  #result-answer-image-name {
    display: flex;
  }

  #result-answer-image {
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;
  }

  #result-answer-group {
    width: 120px;
    font-size: 12px;
  }

  #result-answer-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 120px);
    padding: 0 16px;
    margin: 0;
    border: none;
  }

  #result-answer-title {
    align-items: start;
    font-size: 16px;

    span {
      font-size: 12px;
    }
  }

  #result-position {
    margin-inline: unset;
  }

  #result-color_and_birthday {
    gap: 8px;
  }

  #result-birthday,
  #result-color {
    font-size: 14px;

    &::before {
      font-size: 18px;
    }
  }
}

#result-answer-closer {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-text-gray);
  cursor: pointer;

  &::before {
    font-size: 32px;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        color: var(--color-ui-purple);
      }
    }

    &:active {
      transfrom: translateY(1px);
    }
  }
}

#help-backdrop {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: var(--alpha-bg-black-dd);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#alert-wrapper {
  position: fixed;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 2;
  width: 280px;
  height: 0;
  margin-inline: auto;
  overflow: hidden;
  color: var(--color-text-gray);
  pointer-events: none;
  background: var(--color-bg-gray);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.gohome,
  &.yn {
    #alert-controller {
      bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      .close:not(.button) {
        display: none;
      }

      .button {
        gap: 4px;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 32px;
        padding: 0 4px;
        border: 1px solid var(--color-text-gray);
        border-radius: 4px;

        &.home,
        &.ok {
          color: var(--color-bg-black);
          background: var(--color-ui-purple);
          border-color: var(--color-ui-purple);
        }

        @media (hover: hover) {
          &:hover {
            opacity: 0.8;
          }

          &:active {
            opacity: 0.8;
            translate: 0 1px;
          }
        }
      }
    }
  }

  &.gohome {
    .button.home,
    .button.close {
      display: flex;
    }
  }
  &.yn {
    .button.ok,
    .button.close {
      display: flex;
    }
  }

  #alert-help {
    display: none;
  }

  &.help {
    #alert-help {
      display: block;
      padding-bottom: 12px;

      > div {
        display: none;

        > div {
          display: none;
        }
      }

      &.memory #help-memory,
      &.memory .memory,
      &.select .select,
      &.input .input,
      &.select #help-select,
      &.input #help-input,
      &.all #help-all,
      &.random10 #help-random10,
      &.checked #help-checked,
      &.marked #help-marked {
        display: block;
      }

      p.notice {
        padding-left: 16px;
        margin-top: 8px;
        line-height: 16px;
        color: var(--color-text-darkGray);
        text-indent: -8px;

        + .notice {
          margin-top: 8px;
        }
      }

      .badge {
        margin-top: 8px;
      }
    }
  }
}

#alert-control:checked + #alert-wrapper {
  height: 120px;
  padding: 16px 16px 20px;
  pointer-events: all;
  border: 1px solid var(--color-text-gray);
  opacity: 1;
  animation: fadeup 0.5s ease;

  &.error {
    color: var(--color-alert-red);
    border-color: var(--color-alert-red);
  }

  &.help {
    bottom: calc(50% - 60px);
    width: 90%;
    max-width: 480px;
    height: auto;

    #alert-help {
      > div {
        + div {
          margin-top: 12px;
        }
      }
    }

    p {
      font-size: 14px;

      span.icon {
        display: inline-block;
        line-height: 14px;
        transform: translateY(2px);

        &::before {
          font-size: 18px;
          line-height: 16px;
        }

        &.badge {
          width: 20px;
          height: 20px;
          margin-right: 2px;
          border-radius: 100%;
          transform: translateY(0);

          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }

    + #help-backdrop {
      pointer-events: all;
      opacity: 1;
    }
  }

  &.js-wait-loading {
    animation-delay: 1.5s;
  }
}

#main-outer:has(#question-next.disabled) {
  #question-outer,
  #answer-outer {
    pointer-events: none;

    a {
      pointer-events: all;
    }
  }
}

#main-outer:has(+ #alert-control:checked) {
  pointer-events: none;

  #question-outer,
  #answer-outer {
    pointer-events: none;

    a {
      pointer-events: none;
    }
  }

  #question-control,
  #answer-control {
    button {
      pointer-events: none;
    }

    .mode-input {
      pointer-events: none;
    }
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#alert-controller {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;

  label {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 16px;
    margin-inline: auto;
    font-size: 14px;
    line-height: 16px;
  }

  .button {
    display: none;
  }
}

/* --------^-MAIN-^-------- */

/* --------v-FOOTER-v-------- */
footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding-left: 4px;
  font-size: 10px;
  text-align: left;
  background: var(--alpha-bg-black);
}

/* --------^-FOOTER-^-------- */
